{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} Вход {% endblock %}
{% block content %}
<main>
    <section class="container my-5">
        <div class="row">
            <h1>Вход</h1>
            <div class="col-12 col-lg-7 my-5">
                <form method="POST" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ form.username(class="form-control form-control-lg py-3 mb-3", placeholder=form.username.label.text) }}
                    <p class="text-danger">
                        {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </p>
                    {{ form.password(class="form-control form-control-lg py-3 mb-3", placeholder=form.password.label.text, rows="3", cols="40")}}
                    <p class="text-danger">
                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                        {% endif %}
                    </p>
                    {{ form.submit(class="button px-5 py-3 btn btn") }}
                </form>
                <p class="py-3 mb-3">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for messag in messages %}
                    {{ messag }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </p>
            </div>
            <div class="col-12 col-lg-5">
                <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/login.png') }}" alt="" draggable="false" />
            </div>
        </div>
    </section>
</main>
{% endblock %}