/* Основной Цвет: #13629E
#285576
#063D67
#4693CF
#6BA3CF
Вторичный Цвет A:
#2222AC
#343481
#0B0B70
#5555D5
#7878D5
Вторичный Цвет B:
#0AA864
#257E58
#036D40
#3ED494
#66D4A5 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap');


body {
    font-family: Inter,Arial,Lucida Grande,sans-serif;
    padding-top: 1rem;
    color: #4b4f54;
    font-size: 1.15vw;
    font-weight: 200;
}
@media (max-width: 768px) {
    body {
      font-size: 1.5rem;
    }
    body small {
        font-size: .5rem;
      }
      .nav {
        display: block;
    }
  }
main {
    padding-top: 5em;
}



body p {
    line-height: 0.9;
}
.btn-primary {
    color: #ffff;
    background-color: #13629E;
    border-color: #13629E;
}
.btn-primary:hover {
    color: #fff;
    background-color: #063D67;
    border-color: #13629E;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
a.nav-link {
    transition: opacity .3s ease,color .3s ease;
    color: #063D67;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 1em;
    text-transform: uppercase;
}

a.nav-link:hover {
    color: #13629E;
    text-decoration: underline;
}

.main-subtitle { 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}
.main-subtitle strong{ 
    color: #0AA864;
}

a.regular-link{
    text-decoration: none;
    transition: opacity .3s ease,color .3s ease;
    color: #063D67;
    font-weight: 700;
}

a.regular-link:hover {
    color: #13629E;
    text-decoration: underline;
}

.objects .card-header {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: none;
}

.contacts ul {
    list-style: none;
    margin-left: -2rem;
}

footer a.regular-link {
    font-weight: 200;
}
.block-with-title {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
}

.block-with-title h2 {
  margin-top: 0;
}

.bordered-block {
  border: 1px solid #ddd;
  padding: 10px;
}

.rounded-block {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.colored-block {
  background-color: #f7f7f7;
  padding: 10px;
}
body {
  background-color: #fce4ec;
}
.post-title {
  color: black;
}

.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 35%;
    border: 1px solid black;
    text-align: center;
    margin-left: 0%;
    vertical-align: middle;
    margin-top: 0%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* CSS для блока div */
.div-block {
  width: 750px; /* Ширина блока */
  background-color: #fce4ec; /* Цвет фона блока */
  border-radius: 5px; /* Скругление углов блока */
  padding: 20px; /* Отступы внутри блока */
  word-wrap: break-word;
}

/* CSS для заголовка */
.div-block h2 {
  font-size: 25px; /* Размер шрифта заголовка */
  color: #333333; /* Цвет заголовка */
  margin-top: 0; /* Убираем отступ сверху */
}

/* CSS для изображения */
.div-block img {
  width: 100%; /* Ширина изображения внутри блока */
  height: auto; /* Автоматическая высота */
  margin-bottom: 10px; /* Отступ снизу */
}

/* CSS для описания */
.div-block p {
  font-size: 20px; /* Размер шрифта описания */
  color: #666666; /* Цвет описания */
  margin-top: 20; /* Убираем отступ сверху */
}
/* CSS для поля datetime */
.div-block .datetime {
  font-size: 15px; /* Размер шрифта */
  color: #800000; /* Цвет текста */
  margin-top: 10px; /* Отступ сверху */
}
.user-block .user {
    /* стили для блока юзера */
    color: #1C1C1C;
    font-size: 20px;
}

.beautiful-div .image-panel {
  display: none;
}

.beautiful-div .image-panel img {
  display: block;
}

body {
  -webkit-user-select: none;  /* Запретить выделение на Webkit (Chrome, Safari) */
  -moz-user-select: none;     /* Запретить выделение на Mozilla Firefox */
  -ms-user-select: none;      /* Запретить выделение на Internet Explorer/Edge */
  user-select: none;          /* Запретить выделение на обычных браузерах */
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #FFFFFF;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.avatar {
  width: 2px;
  height: 2px;
  border-radius: 2%;
  border: 2px solid black;
}

.username {
  font-weight: bold;
  margin-left: 5px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.avatar {
  margin-right: 10px;  /* изменение положения аватара */
}
.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 0px;
  background-color: red; /* Измените цвет фона здесь */
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  font-size:14px;
  background: #fff;
    max-width:1920px;
    margin:0 auto;
  overflow-x:hidden;
  font-family: poppins;


}
#footer{
  background: #f7f7f7;
    padding: 3rem;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
  background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}
#footer2{
  background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
  background-image: url(../images/cards/v748-toon-111.png);
}
.logo-footer{
  /* max-width: 300px; */
}
.social-links{
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.social-links h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  /* display: flex;
    gap: 3rem; */
  display: flex;
    flex-direction: column;
    gap: 1rem;
  color: #777777;
}
.social-icons a{
  /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
  /* margin-right: 18px; */
  color: #777777;
}
.social-icons a:hover{
  color: #000;
}
.social-icons a i{
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}
li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;
}
.use-links li a:hover{
  color: #000;
}
.address h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;

}
.address-links li i{
  font-size: 16px;
    padding-right: 8px;
  color: #82074a;

}
.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
}
.address-links{
      line-height: 32px;
    color: #777777;
}
.copy-right-sec{
  padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
  color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}