<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="social-links">
          <h5>Подписаться</h5>
          <img src="" alt="">
          <div class="social-icons">
            <li><a href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i>Instagram</a></li>
            <li><a href=""><i class="fa-brands fa-linkedin-in"></i>VK</a></li>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="address">
          <h5>Адрес</h5>
          <img src="" alt="" class="img-fluid">
          <div class="address-links">
            <li class="address1"><i class="fa-solid fa-location-dot"></i>Местоположение</li>
            <li><a href=""><i class="fa-solid fa-phone"></i>Телефон</a></li>
            <li><a href=""><i class="fa-solid fa-envelope"></i>Почта</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
  <section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
      <a href="#">© Tattoo</a>
    </div>
  </section>