<header class="pt-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    <a class="navbar-brand" href="{{ url_for('show_index') }}">
      Tattoo
        <img src="{{ url_for('static', filename='img/logo.svg') }}" height="50" class="" alt="" />
    </a>
      <div class="d-flex justify-content-end">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_posts') }}">
              Добавить своё тату
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_index') }}">
              Показать случайное тату
            </a>
          </li>
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">
              Войти
            </a>
          </li>
          <li class="nav-item">
            <a class ="nav-link" href="{{ url_for('auth.register') }}">
              Зарегистрироваться
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">
              Выйти
            </a>
          </li>
          <li class="nav-item">
            <div class="user">
              {% if current_user.avatar == 'FileStorage__application_octet-stream' %}
              <img class="avatar" src="{{ url_for('static', filename='img/avatar_default.png') }}" alt="user-avatar" style="width: 40px; height: 40px; border-radius: 25%;" draggable="false">
              {% else %}
              <img class="avatar" src="{{ url_for('static', filename='people_photo/' + current_user.avatar) }}" alt="user-avatar" draggable="false" style="width: 40px; height: 40px; border-radius: 50%; border: 3px solid black; margin-right: 0px;" >
              {% endif %}
              <span class="username" style="width: 40px; height: 40px; margin-right: 0px;">
                {{ current_user.username }}
              </span>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>