{% extends "base.html" %}
{% block title %}Тату # {{ post.id }}{%endblock %}
{% block content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/func.for.stat.js') }}"></script>
{% endblock %}
<main>
    <section class="container my-5">
        <div class="beautiful-div">
            <div class="beautiful-div">
                <div class="row">
                    <div class="div-block ">
                        <h2>{{ post.title }}</h2>
                        <img src="{{ url_for('static', filename='people_photo/' + post.image) }}" alt="User Image" class="centered-image" draggable="false" onclick="openModal('{{ url_for('static', filename='people_photo/' + post.image) }}')" />
                        <div id="modal" class="modal">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <img class="modal-content" id="enlarged-photo">
                        </div>
                        <div class="user-block">
                            <div class="user">
                                Пользователь: {{ post.user.username }}
                            </div>
                            <p>{{ post.text }}</p>
                            <p class="datetime">{{ post.timestamp.strftime("%Y/%m/%d %H:%M:%S") }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/girl.png') }}" alt="" draggable="false" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}